<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_("FAQ")}</h1>


<h3>Registro ( usuario / Contraseña )</h3></br>
<p>
<h4>¿ Como cambiar la contraseña de plataforma edX UVP Online ? </h4>
Se mostrará una ventana donde se pedirá colocar  correo  con el que ingresa al curso. Revisar su correo , llegará un mensaje con una liga para colocar su nueva contraseña.

Opción 2
Una vez que ingreso la plataforma ubicar en la parte superior derecha su nombre de usuario y seleccionar la opción 

“Configuración de Cuenta” en seguida ubicar la liga “Restablecer Contraseña”. 

Cuando hace clic en "Restablecer Contraseña", se enviará un mensaje a su dirección de correo. Haga clic en el vínculo que encontrará en el mensaje recibido para restablecer su contraseña. 

Nota : Es recomendable que cambie la contraseña la primera vez que ingresa a la plataforma. Si su contraseña no fue definida por usted.

<h4>¿ Como cambiar la contraseña de correo UVP ?  </h4>
Para cambiar la contraseña de correo UVP es necesario realizar los siguientes  pasos en el siguiente orden :

Registrar numero celular en la sección de datos personales dentro de  la cuenta de correo UVP.
Recuperar/ campar contraseña

Las guías de los pasos anteriores se encuentran en las siguientes ligas.

<ol>
<li>Registrar numero celular en la sección de datos personales dentro de  la cuenta de correo UVP.</li>
<li>Recuperar/ campar contraseña</li>
</ol>
Las guías de los pasos anteriores se encuentran en las siguientes ligas.
</br>
</br>
</br>
<h3>Calificaciones</h3>
</br>
<h4>¿Dónde puedo consultar mis calificaciones en plataforma? </h4>
 
En cada curso se coloca una subsección de “Calificaciones”, así que ahí podrás checar tus resultados finales de actividad, módulo y curso.
 
Importante: Tener a la mano tu número de matrícula, ya que no aparece tu nombre sino la matrícula con tu tira de calificaciones.
 
<h4>¿Cada cuánto se publican las calificaciones en plataforma?</h4>
 
Cada que finaliza un módulo se publican las calificaciones de cada actividad y tu promedio de módulo.
 
<h4>Si tengo alguna duda con mis calificaciones, ¿a quién debo recurrir?</h4>
 
De inmediato debes de consultar a tu tutor del curso, ya que si es necesaria una corrección él es el único que la podrá modificar. Envíale un correo electrónico y resuelve tu duda.
</br>
</br></br>
<h3>Dispositivos móviles</h3>
</br>
<h4>¿Puedo acceder desde mi celular o tableta a la plataforma de la universidad?</h4>
 
Por supuesto, la plataforma de la UVP te ofrece la posibilidad de acceder a sus contenidos por medio de dispositivos móviles sin importar su marca y sistema operativo (iOS,  Android, Windows Phone, Blackberry OS, etc).  Permitiéndote esto visualizar imágenes, reproducir videos, audios, acceder a tus actividades, consultar tus calificaciones, etc.
 
Requisitos:
 
Equipo con red 3G o superior.
 
Equipo con datos de internet o red Wi-Fi.
 
<h4>¿Es posible realizar mis actividades desde mi celular o tableta?</h4>
 
La mayoría de tus actividades se pueden realizar desde tu dispositivo móvil, sin embargo existen algunas que por comodidad y por limitaciones del sistema operativo de tu celular o tableta es recomendable que las contestes desde una PC o Laptop.
 
<h4>¿Puedo consultar mis calificaciones desde mi celular o tableta?</h4>
 
Si, sin problema de tu celular o tableta podrás visualizar las calificaciones de tus actividades.
 
<h4>¿Puedo recibir notificaciones de mi curso en mi celular o tableta?</h4>
 
No de manera automática, sin embargo, entrando al curso desde tu dispositivo móvil de inmediato aparece el área de noticias y actualizaciones que contiene los últimos avisos que el tutor considera importantes para ti. 
</br>
</br></br>
<h3>Correo institucional</h3>
</br>
El correo Institucional UVP es un correo con el que se ingresa a los cursos en línea y se forma de la siguiente manera :
</br>

<ul>
<li>Para estudiantes : matricula@uvp.edu.mx, ejemplo ae1234@uvp.edu.mx </li>
<li>Para docentes : nombre.apellido@uvp.edu.mx</li>
</ul>
</br>
Se recomienda registrar un numero celular para recuperación de contraseña en caso de olvido. Se anexan las siguientes guías :
</p>

</section>
