<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<section class="container about">

<h1>C&oacute;digo de &eacute;tica para los estudiantes en l&iacute;nea.</h1>
</br>
<h2>Disciplina</h2>
<p>
<ul>
	<li>Adquiere nuevos conocimientos y habilidades para hacerlos propios.</li>
	<li>Participa en debates y discusiones en los cursos en l&iacute;nea, con argumentos s&oacute;lidos.</li>
	<li>Revisa y atiende los requerimientos del curso, para organizar y programar las actividades y tareas.</li>
	<li>S&eacute; persistente al leer, estudiar, investigar, planificar y llevar a cabo el trabajo.</li>
	<li>Aprende y pon en pr&aacute;ctica las nuevas habilidades tecnol&oacute;gicas necesarias para las actividades asignadas y la interacci&oacute;n.</li>
</ul>
</p>

<h2>Sint&eacute;tica</h2>
<p>	<ul>
	<li>Considera una diversidad de perspectivas y opiniones.</li>
	<li>Participa en debates y discusiones en l&iacute;nea con mensajes reflexivos que sinteticen la informaci&oacute;n y las ideas.</li>
	<li>Relaciona los nuevos aprendizajes a tus propias experiencias y a otras &aacute;reas de estudio.</li>
</ul></p>
<h2>Creatividad</h2>
<p>
<ul>
<li>Contribuye a generar un ambiente en la clase virtual que apoye y fomente la creatividad.</li>
<li>Utiliza el apoyo y las ideas de la comunidad en l&iacute;nea para participar en procesos creativos.</li>
</ul>
</p>
<h2>Respeto</h2>
<p>
<ul>
<li>Trata a tus compa&ntilde;eros de clase y al instructor con cortes&iacute;a y respeto.</li>
<li>Piensa antes de comunicarte; evita comentarios despectivos, desde&ntilde;osos o demasiado cr&iacute;ticos.</li>
<li>Apoya a tus compa&ntilde;eros en su aprendizaje, proporcion&aacute;ndoles retroalimentaci&oacute;n, recursos e informaci&oacute;n.</li>
<li>Publica tus dudas en el tablero de Preguntas y respuestas, de tal manera que las aclaraciones y soluciones puedan ser revisadas por tus compa&ntilde;eros de clase.</li>
<li>Muestra tu agradecimiento a las contribuciones, comentarios y acciones que realicen tus compa&ntilde;eros o el profesor.</li>
<li>Da la bienvenida y valora la diversidad existente entre tus compa&ntilde;eros de clase.</li>
</ul>
</p>
<h2>&Eacute;tica</h2>
<p>
<ul>	
<li>S&eacute; honesto en todas las representaciones que realices acerca de tu trayectoria personal y profesional.</li>
<li>Presenta trabajos que sean realmente elaborados por ti.</li>
<li>Cumple con las leyes de derechos de autor y da el cr&eacute;dito correspondiente al trabajo de los dem&aacute;s.</li>
<li>S&eacute; un miembro activo y confiable en todos los grupos donde participes.</li>
<li>No perjudiques a otros.</li>
<li>Esfu&eacute;rzate por conseguir la excelencia.</li>
</ul></p>
</br></br>

<h1>C&oacute;digo de &eacute;tica para los profesores en l&iacute;nea </h1>
</br>
<h2>Disciplina</h2>
<p><ul>
<li>Establece una fuerte presencia como instructor en el curso en l&iacute;nea.</li>
<li>Comunica tus expectativas y asignaciones con claridad y coherencia.</li>
<li>Facilita el debate y la discusi&oacute;n en los cursos en l&iacute;nea, con argumentos s&oacute;lidos.</li>
<li>Desarrolla los conocimientos y las habilidades con el apoyo de herramientas tecnol&oacute;gicas y siempre al&iacute;state para brindar asistencia a tus estudiantes.</li>
<li>Revisa los documentos y las direcciones web incluidas en tu curso, para que sean exactas y est&eacute;n actualizadas.</li>
<li>Continuamente ampl&iacute;a tus conocimientos sobre la disciplina que est&aacute;s ense&ntilde;ando.</li>
</ul></p>

<h2>Sint&eacute;tica</h2>
<p>
<ul>	
<li>Provee oportunidades a los estudiantes para que tomen en cuenta diferentes perspectivas y opiniones.</li>
<li>Contribuye con los debates y discusiones en l&iacute;nea, a trav&eacute;s de mensajes reflexivos que sinteticen la informaci&oacute;n y las ideas.</li>
<li>Presenta las ideas a partir de múltiples &aacute;reas y disciplinas.</li>
</ul></p>

<h2>Creatividad</h2>
<p>
<ul>
<li>Manifiesta y fomenta la creatividad en el ambiente del curso virtual.</li>
<li>Establece un ambiente propicio para aprender y crear.</li>
<li>Promueve la colaboraci&oacute;n y la comunicaci&oacute;n estudiante-estudiante.</li>
</ul>
</p>
<h2>Respeto</h2>
<p>
<ul>
<li>Trata a tus estudiantes con cortes&iacute;a y respeto.</li>
<li>Piensa antes de comunicarte; evita comentarios despectivos, desde&ntilde;osos o demasiado cr&iacute;ticos.</li>
<li>Facilita la comunicaci&oacute;n y la interacci&oacute;n, proporcionando a tus alumnos una retroalimentaci&oacute;n, recursos y orientaci&oacute;n que le sean &uacute;tiles.</li>
<li>Toma en cuenta el derecho a la privacidad de tus estudiantes, cuando dise&ntilde;es e implementes actividades, o bien, cuando le env&iacute;es mensajes a trav&eacute;s de la plataforma o del correo electr&oacute;nico.</li>
<li>Valora y acepta la diversidad, permitiendo las diferentes opiniones que los estudiantes puedan tener.</li>
<li>Revisa regularmente el curso en cuanto a su accesibilidad y la necesidad de mejoras necesarias.</li>
<li>Mant&eacute;n a tus estudiantes seguros; ocúpate de manera cuidadosa y oportuna de los aspectos relacionados con conductas inapropiadas.</li>
<li>Solicita retroalimentaci&oacute;n a tus estudiantes y util&iacute;zala para hacer ajustes al curso, atender sus necesidades individuales y mejorar tus habilidades de comunicaci&oacute;n e interacci&oacute;n con ellos.</li>
</ul></p>

<h2>&Eacute;tica</h2>
<p><ul>	
<li>Provee una descripci&oacute;n precisa acerca de tu trayectoria personal y profesional.</li>
<li>Predica con el ejemplo un comportamiento &eacute;tico y ens&eacute;&ntilde;alo a tus estudiantes.</li>
<li>Cumple con las leyes de derechos de autor y da el cr&eacute;dito correspondiente al trabajo de los dem&aacute;s.</li>
<li>Establece e implementa un sistema de evaluaci&oacute;n dise&ntilde;ado para medir con eficacia el rendimiento de los estudiantes.</li>
<li>Conoce a tus estudiantes lo suficiente como para proporcionarles recomendaciones que les sean de ayuda para su educaci&oacute;n o empleo futuros.</li>
<li>Esfu&eacute;rzate por conseguir la excelencia.</li>
</ul></p>
</br></br>
</br>
Fuente: (Camuse, 2010).

</section>

