<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<section class="container about">
<h1>${_("Privacy Policy")}</h1>

<p>
<h3>AVISO DE PRIVACIDAD UNIVERSIDAD DEL VALLE DE PUEBLA S.C.</h3>
</br>
<p> La Universidad del Valle de Puebla S.C. (UVP), con domicilio en Tres sur, cinco mil setecientos cincuenta y nueve, colonia
El Cerrito, Puebla, M&eacutexico; realiza actividades educativas, culturales y deportivas; por lo anterior, recaba, usa y protege datos proporcionados por los titulares de la informaci&oacuten, y a fin de estar acorde con la normatividad mexicana, espec&iacuteficamente con la Ley Federal de Protecci&oacuten de Datos Personales en Posesi&oacuten de Particulares (LFPDPPP), leyes supletorias y reglamentos afines, emite el presente Aviso de Privacidad.</p>

<p> La UVP, tiene como prop&oacutesito la prestaci&oacuten de servicios educativos de excelencia acad&eacutemica en los niveles medio superior y superior; organiza y desarrolla actividades para motivar la investigaci&oacuten; preservar, acrecentar, difundir y aprovechar la Ciencia en Beneficio del Hombre, entre otros prop&oacutesitosy deportivos. culturales, </p>
<p>
  La UVP recaba datos personales para lograr el cumplimiento de sus prop&oacutesitos, misi&oacuten y visi&oacuten, que incluye a los que reciben el servicio educativo, cultural y/o deportivo; a los prestadores de servicio; a proveedores y a terceros.</p>
<p>
  De acuerdo al departamento o &aacuterea administrativa al momento de proporcionar informaci&oacuten personal, est&aacute aceptando el presente Aviso de Privacidad con la firma del documento respectivo; o de manera electr&oacutenica cuando lo haga de esta manera, en el entendido de que podr&aacute ser difundida de manera interna en los diferentes departamentos que sean de su competencia o que as&iacute lo requieran para poder dar continuidad al tr&aacutemite, as&iacute como ante las autoridades educativas que as&iacute lo requieran. Si usted no estuviera de acuerdo con cualquier t&eacutermino del Aviso o Pol&iacutetica de Privacidad de la UVP, por favor no proporcione dato personal alguno. Si decide no proporcionar a la UVP ciertos datos personales, acepta la posibilidad de no tener acceso a las instalaciones, actividades u otros servicios de la UVP.</p>
<p>
  El titular al proporcionar los datos de forma parcial, acepta la posibilidad de obtener beneficios parciales con la prestaci&oacuten del servicio educativo, cultural y/o deportivo.</p>
</br>
</br>
<h3>DATOS PERSONALES SENSIBLES</h3>
</br>
<p>
  La UVP, brinda servicios a la comunidad estudiantil como lo es Servicio M&eacutedico, Gimnasio, Tutor&iacuteas, Orientaci&oacuten Educativa y en ciertos casos tambi&eacuten al p&uacuteblico en general como CAPS, Cl&iacutenica Dental, Fisioterapia, entre otros.
Para el caso de brindar mejor servicio, y por cumplimiento a la norma sanitaria y de salud, y s&oacutelo en el caso de las &aacutereas citadas; se solicitar&aacute que aporte datos sensibles, (entendi&eacutendose como aquellos datos personales que afecten a la esfera m&aacutes &iacutentima del titular que pueda dar origen a discriminaci&oacuten; o que conlleve un riesgo grave para el titular).
En dicha &aacuterea y si est&aacute de acuerdo en otorgar sus datos personales sensibles, se le solicitar&aacute su consentimiento por escrito; haciendo la aclaraci&oacuten de que dichos datos no ser&aacuten transferidos, salvo los casos en que la ley as&iacute lo obligue.</p>
</br>
</br>
<h3>LOS MEDIOS PARA EJERCER LOS DERECHOS DE ACCESO, RECTIFICACI&oacuteN, CANCELACI&oacuteN U OPOSICI&oacuteN</h3>
</br>
<p>
  Para el caso de acceso, rectificaci&oacuten, cancelaci&oacuten y oposici&oacuten de la informaci&oacuten personal en posesi&oacuten de la UVP (Derechos ARCO), deber&aacute presentar solicitud en el &aacuterea de Datos Personales de la UVP que es la Direcci&oacuten del Bufete Jur&iacutedico con domicilio en 5 Sur 5906 Colonia El Cerrito, Puebla, M&eacutexico o bien por medio electr&oacutenico a la siguiente direcci&oacuten: La Coordinaci&oacuten del Bufete Jur&iacutedico es el &aacuterea Responsable de recibir y dar tr&aacutemite a las solicitudes de los titulares respecto a sus datos personales en posesi&oacuten de la UVP. Los Encargados ser&aacuten los Jefes de Recursos Humanos, Control Escolar, Servicios Administrativos y Adquisiciones, en el &aacuterea de su competencia. El escrito de solicitud deber&aacute contener y acompañarse de lo siguiente:</p>


  <ul style="list-style-type:none">
    <li>a) El nombre del titular de la informaci&oacuten y domicilio o medio para comunicar la respuesta a la solicitud; (n&uacutemero telef&oacutenico, correo electr&oacutenico).</li>
    <li>b) Los documentos que acrediten la identidad o, en su caso la representaci&oacuten legal del titular.  </li>
    <li>c) La descripci&oacuten clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos antes mencionados.</li>
    <li>d) La precisi&oacuten de qu&eacute departamento, &aacuterea, direcci&oacuten, coordinaci&oacuten o jefatura en donde se requiera el acceso, rectificaci&oacuten u oposici&oacuten en donde se observ&oacute la informaci&oacuten.</li>
    <li>e) Trat&aacutendose de rectificaci&oacuten de datos personales, deber&aacute indicarse la modificaci&oacuten que debe realizarse y sustentar la modificaci&oacuten con documento id&oacuteneo.</li>
    <li>d) En caso de oposici&oacuten o cancelaci&oacuten de la informaci&oacuten deber&aacute informar el motivo por el que se realiza el tr&aacutemite.</li>
  </ul>
<p>La tramitaci&oacuten de la solicitud, se ajustar&aacute a lo siguiente:</p>
<p>La UVP comunicar&aacute al titular dentro de un plazo de veinte d&iacuteas h&aacutebiles, contados a partir de la fecha de recepci&oacuten de la solicitud, la determinaci&oacuten adoptada de forma provisional y en el caso de que sea procedente la solicitud, la misma quedar&aacute efectiva dentro de los siguientes quince d&iacuteas h&aacutebiles a la fecha en que se comunica la respuesta. Estos plazos podr&aacuten ser ampliados por una sola vez y por un periodo igual, cuando las circunstancias del caso lo ameriten. La entrega de informaci&oacuten proceder&aacute previa acreditaci&oacuten de su identidad o de su representante legal, seg&uacuten corresponda.</p>

<p>En el supuesto de que la determinaci&oacuten sea negativa se notificar&aacute al solicitante el motivo por el cual no se realizar&aacute el acceso, rectificaci&oacuten, cancelaci&oacuten u oposici&oacuten.</p>
<p>Si usted desea revocar el consentimiento otorgado para el tratamiento de datos personales por parte de la UVP, lo deber&aacute informar a &eacutesta por escrito a trav&eacutes del &aacuterea de Datos Personales de la UVP, debiendo en todo caso señalar la causa que origina la revocaci&oacuten al consentimiento.</p>
</br>
</br>
<h3>FINALIDADES, TRATAMIENTO POR TERCEROS Y TRANSFERENCIAS DE DATOS PERSONALES</h3>
</br>
<p>El titular, otorga a la UVP y s&oacutelo con el fin de cumplir con los prop&oacutesitos de &eacutesta &uacuteltima, la aceptaci&oacuten de proporcionar informaci&oacuten a terceros, incluyendo sin l&iacutemites para:</p>
<ul style="list-style-type:none">
<li>a) Acreditaciones y certificaciones.</li>
<li>b) Terceros con quienes tenga contratados servicios para el procesamiento de datos, como prestadores de servicio, administradores de bases de datos, auditores, abogados, consultores y contratistas.</li>
<li>c) Estudios socio-econ&oacutemico para beneficio de becas.</li>
<li>d) Intercambios estudiantiles.</li>
<li>e) Convenios Institucionales.</li>
<li>f) Actividades culturales, deportivas y de salud.</li>
<li>g) Cualquier autoridad administrativa o judicial que la ley otorgue, fafacultades para solicitar informaci&oacuten (Art&iacuteculo 10 LFPDPPP).i</li>
</ul>
<p>En todos los casos en que la UVP proporcione informaci&oacuten personal, para los anteriores fines, ser&aacuten los indispensables que le sean requeridos.</p>

<p>La UVP en todos los casos proporcionar&aacute los datos personales del titular; si quien lo pide est&aacute autorizado por la normatividad vigente y siempre que la solicitud sea por escrito, fundada y motivada.</p>
<p>El tratamiento de esta informaci&oacuten, se limita al cumplimiento de las finalidades institucionales o que resulten compatibles o an&aacutelogos a los que aqu&iacute se establecen, sin que para esto se requiera obtener nuevamente el consentimiento del titular de estos datos.</p>
<p>Asimismo, determinados datos personales como nombre, domicilio, tel&eacutefono, correo electr&oacutenico y otros datos de contacto, &eacutestos podr&aacuten utilizarse por la UVP para que usted reciba informaci&oacuten sobre nuestros servicios, eventos culturales, deportivos y educativos, proyectos, sorteos, entre otros.</p>
</br>
</br>
<h3>MEDIDAS DE SEGURIDAD</h3>
</br>
<p>Para proteger los datos personales que reciba la UVP, &eacutesta ha establecido medidas de seguridad administrativas t&eacutecnicas y f&iacutesicas, seg&uacuten sea lo m&aacutes apropiado de acuerdo al tipo de datos personales en cuesti&oacuten y el tratamiento al que est&aacuten sujetos. El presente Aviso de Privacidad, ser&aacute publicado en la p&aacutegina de la UVP ( ) de la Instituci&oacuten, as&iacute como en frisos y pantallas institucionales, para su observaci&oacuten y aplicaci&oacuten.</p>

<p>La UVP se reserva el derecho de modificar el presente Aviso de Privacidad, en todo caso se agregar&aacute la fecha de publicaci&oacuten y vigencia a fin de difusi&oacuten y se señalar&aacuten con precisi&oacuten los cambios que se realizaron.</p>
</p>

</section>
