
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" class="grid-container">

    <div class="smarted-footer">
      <div class="smarted-footer_footer-left">
        <a href="https://online.uvp.mx" class="smarted-footer_logo"><img alt="organization logo" src="/static/${settings.DEFAULT_SITE_THEME}/images/footer-logo.png"></a>
        <p class="footer-support">
          <span>Built on</span>
          <a target="_blank" href="${footer['openedx_link']['url']}">
            <svg class="svg-edx"  viewBox="0 0 100 70">
              <use xlink:href="#logo-edx" />
            </svg>
          </a>
          <span>by</span>
          <a target="_blank" href="http://bunited.mx" class="raccoon__logo">B United
           <!--  <svg class="svg-raccoon"  viewBox="0 0 100 100">
              <use xlink:href="#logo-raccoon" />
            </svg>--> 
          </a>
        </p>
      </div>
      <div class="smarted-footer_cources-catalog">
        <strong class="smarted-footer_title">UVP Online</strong>
        <ul>
          <li><a href="https://uvp.mx/uvpidentidad/ideologia">Acerca de</a></li>
          <li><a href="/faq">Preguntas frecuentas</a></li>
        </ul>
      </div>
      <div class="smarted-footer_general-info">
        <strong class="smarted-footer_title">Legal</strong>
        <ul>
          <li><a href="/privacy">Pol&iacute;tica de privacidad</a></li>
          <li><a href="/tos">T&eacute;rminos de servicio</a></li>
          <li><a href="http://smarted.online/agreement/">C&oacute;digo de honor</a></li>
        </ul>
      </div>
      <div class="smarted-footer_footer-right">
        <strong class="smarted-footer_title">Contacto</strong>
	<ul>
          <li><a href="mailto:coor.tec.uv@uvp.mx">Soporte</a></li>
          <li><a href="mailto:admisiones@uvp.mx">Admisi&oacute;n</a></li>
        </ul>
        <ul class="icon-list">
	  <li class="icon-list_item"><a href="https://api.whatsapp.com/send?phone=5212211125696" target="_blank" class="icon-list_link">
            <svg class="icon-list_svg" viewBox="0 0 35 35">
              <use xlink:href="#ico-what" />
            </svg>
          </a>
          </li>
          <li class="icon-list_item"><a href="https://www.facebook.com/uvp.pue/" target="_blank" class="icon-list_link">
            <svg class="icon-list_svg" viewBox="0 0 35 35">
              <use xlink:href="#ico-facebook" />
            </svg>
          </a>
          </li>
	  <li class="icon-list_item"><a href="https://www.facebook.com/uvp.pue/" target="_blank" class="icon-list_link">
            <svg class="icon-list_svg" viewBox="0 0 35 35">
              <use xlink:href="#ico-twitter" />
            </svg>
          </a>
          </li>
          <li class="icon-list_item"><a href="https://www.instagram.com/uvp_puebla/" target="_blank" class="icon-list_link">
            <svg class="icon-list_svg" viewBox="0 0 35 35">
              <use xlink:href="#ico-instagram" />
            </svg></a>
          </li>
          <li class="icon-list_item"><a href="https://www.youtube.com/WEBUVP" target="_blank" class="icon-list_link">
            <svg class="icon-list_svg" viewBox="0 0 35 35">
              <use xlink:href="#ico-youtube" />
            </svg></a>
          </li>
        </ul>
        <span class="smarted-footer_copyright">UVP© 2019</span>
      </div>
    </div>
  </footer>
</div>


% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
  <%include file="widgets/cookie-consent.html" />
% endif
